.bubble-popover-btn {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border-radius: 1.25rem;
  font-weight: 500;
  height: 36px;
  padding: 0 16px;
}
.help-popover-content {
  width: 35rem;
  max-width: 80vw;
}
.help-popover-content .help-popover-card-title {
  font-size: 1rem;
}
.help-popover-content .help-popover-card-desc {
  font-size: 0.8rem;
  color: grey;
}
.help-popover-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 16px;
}
